<mat-accordion multi="false" *ngIf="allUsers.length > 0">
  <mat-expansion-panel *ngFor="let user of allUsers">
    <mat-expansion-panel-header>
      {{ user.name }}
    </mat-expansion-panel-header>
    <p>Age: {{user.age}} Gender: {{user.gender}}</p>

    <div *ngIf="( currentUser !=null && currentUser.id==user.id)">
      <br>
      <p >{{user.name}}'s Direct friends:<br> <span
          *ngFor="let friend of currentUser.usersFriend">{{friend.name}} <br></span></p>
      <p>{{user.name}}'s Friends of friends:<br> <span
          *ngFor="let friend of currentUser.usersFriendsOfFriends">{{friend.name}} <br></span> </p>
      <p>{{user.name}}'s Suggested friends:<br> <span
          *ngFor="let friend of currentUser.suggestedFriends">{{friend.name}} <br></span>
      </p>
    </div>

    <mat-action-row>
      <button  mat-button color="primary" (click)="getUserInfo(user.id)">
        Show More Info</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<p class="userInfo caption" *ngIf="allUsers.length <= 0">There is no user</p>
